<!DOCTYPE html>

<html lang="en">

    <% include ../partials/header %>

	<body style="overflow-x:hidden;">
	   <% include ../partials/navbar %>
		
		<br><br>
		
		<div class="container">

        	<div class="row">
                <div class="col-lg-12">
            		<br></br>
                    <br></br>

                	<h1>
                        <span class='glyphicon glyphicon-hand-right'>
                        </span>

                        &nbsp&nbsp

                        <strong>
                            <%= title %>
                        </strong>
                    </h1>

					<hr>

                	<ol class="breadcrumb">

                    	<li>
                            <a href="/">
                                <span class="glyphicon glyphicon-home glyphicon-white">
                                </span>

                                <font color="#828F90">
                                    <strong>
                                        &nbsp Home
                                    </strong>
                                </font>
                            </a>
                    	</li>

                    	<li class="active">
                            About
                        </li>
                	</ol>
            	</div>
        	</div>
        	
        	
        	<div class="row">
                <div class="col-md-6">
                	<img class="img-thumbnail" src="images/chuboy.jpg" alt=""></img>
            	</div>
            	
            	<div class="col-md-6">
                	<h2>
                        <strong>
                            More About Me
                        </strong>
                    </h2>

                	<font color="#768586">
                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
                        </p>
            		</font>
            	</div>
        	</div>
        	
        	<br><br>
        	<hr>

        	<h2 align="center">
                <span class='glyphicon glyphicon-star'></span> 
            </h2>

        	<hr>

        	<br><br>
        	
        	<div class="row">
            	<div class="col-md-6">
                	<img class="img-thumbnail" src="images/team.jpg" alt="">
            	</div>
            	
            	<div class="col-md-6">
                	<h2>
                        <strong>
                            My Team
                        </strong>
                    </h2>

                	<font color="#768586">
                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
                        </p>
            		</font>
            	</div>
        	</div>
        	
        	
        	<br></br><br></br>
        	
        	<hr>
			<h2 align="center"><span class='glyphicon glyphicon-star'></span> </h2>
			<hr>
        	
        	<!-- Group Members -->
        	<div class="row">
            	<div class="col-lg-12">
               		<br>

               		<h2>
                        <span class='glyphicon glyphicon-star-empty'></span>

                        &nbsp&nbsp

                        <strong>
                            My Team Members 
                        </strong>
                    </h2>

               		<br>

            	</div>
            	
            	<div class="col-md-4 text-center">
                	<div class="thumbnail">
                    	<img class="img-responsive" src="http://placehold.it/750x450">
                    	<div class="caption">
                        	<h3>
                                <strong>
                                    Marcio Zhu
                                </strong>
                            </h3>
                        	
                        	<p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
                            </p>
                    	
                    		<br>
                    		
                    		<p>
                                <strong>
                                    Contact
                                </strong>
                            </p>
                        	
                			<p align="center">
                                <span class="glyphicon glyphicon-phone-alt"></span> 
                    			<abbr title="Phone">
                                    <font color="#768586">
                                        Phone
                                    </font>
                                </abbr>

                                : (613) 581-7788
                            </p>
                    			
                			<p align="center">
                                <span class="glyphicon glyphicon-envelope"></span>
                    			<abbr title="Email">
                                    <font color="#768586">
                                        Email
                                    </font>
                                </abbr>

                                : <a href="mailto:ibrahimsikiru@cmail.carleton.ca">marciozhu@cmail.carleton.ca</a>

                			</p>
                			
                			<p align="center">
                                <span class="glyphicon glyphicon-globe"></span>
                				<abbr title="Website">
                                    <font color="#768586">
                                        Website
                                    </font>
                                </abbr>

                                : <a href="https://iamtheib.me" target="_blank">none</a>

                			</p>
                			
                			<br>
                    		
                    		<p align="center">
            					<a class="btn btn-info" href="#" role="button">
                                    <span class='glyphicon glyphicon-paperclip'></span>

                                    &nbsp&nbspResume Preview

                				    &rsaquo;
                                </a>
        					</p>
        					
        					<br>
                    	
                    	</div>
                	</div>
            	</div>
            	
            	
            	<div class="col-md-4 text-center">
                	<div class="thumbnail">
                    	<img class="img-responsive" src="http://placehold.it/750x450">
                    	<div class="caption">
                        	<h3>
                                <strong>
                                    Henry Amuka
                                </strong>
                            </h3>
                        	
                        	<p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
                            </p>
                    	
                    		<br>
                    		
                    		<p>
                                <strong>
                                    Contact
                                </strong>
                            </p>
                        	
                			<p align="center">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                    			<abbr title="Phone">
                                    Phone
                                </abbr>

                                : (613) 581-7788

                            </p>
                    			
                			<p align="center">
                                <span class="glyphicon glyphicon-envelope"></span>
                    			<abbr title="Email">
                                    Email
                                </abbr>

                                : <a href="mailto:henryamuka@cmail.carleton.ca">henryamuka@cmail.carleton.ca</a>

                			</p>
                			
                			<p align="center">
                                <span class="glyphicon glyphicon-globe"></span>
                				<abbr title="Website">
                                    Website
                                </abbr>

                                : <a href="#" target="_blank"> none</a>

                			</p>
                			
                			<br>
                    		
                    		<p align="center">
            					<a class="btn btn-info" href="#" role="button">
                                    <span class='glyphicon glyphicon-paperclip'></span>

                                    &nbsp&nbspResume Preview

                				    &rsaquo;
                                </a>

        					</p>
        					
        					<br>
                    	
                    	</div>
                	</div>
            	</div>
            	
            	
            	<div class="col-md-4 text-center">
                	<div class="thumbnail">
                    	<img class="img-responsive" src="images/guelor.jpg">
                    	<div class="caption">
                        	<h3>
                                <strong>
                                    Guelor Emmanuel
                                </strong>
                            </h3>
                        	
                        	<p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
                            </p>
                        	
                        	<br>
                        	
                        	<p>
                                <strong>
                                    Contact
                                </strong>
                            </p>
                        	
                			<p align="center">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                    			<abbr title="Phone">
                                    Phone
                                </abbr>

                                : (613) 581-7788

                            </p>
                    			
                			<p align="center">
                                <span class="glyphicon glyphicon-envelope"></span>
                    			<abbr title="Email">
                                    Email
                                </abbr>

                                : <a href="mailto:gueloremmanuel@cmail.carleton.ca">gueloremmanuel@cmail.carleton.ca</a>

                			</p>
                			
                			<p align="center">
                                <span class="glyphicon glyphicon-globe"></span>
                				<abbr title="Website">
                                    Website
                                </abbr>

                                : <a href="http://cubeguelor.me" target="_blank">cubeguelor.me</a>

                			</p>
                			
                			<br>
                        	
                        	<p align="center">
            					<a class="btn btn-info" href="http://cubeguelor.me/cv/GuelorEmanuelResume.pdf" role="button" target="_blank">
                                    <span class='glyphicon glyphicon-paperclip'></span>

                                    &nbsp&nbspResume Preview
                				    &rsaquo;
                                </a>
        					</p>
        					
        					<br>
                        	
                    	</div>
                	</div>
            	</div>
            	
    	   </div>
    	
    	   <br>
    	   <br>
    	   <br>  	
        	
 		</div>
 		
 		<% include ../partials/footer %> 
 		
 		<script src="js/scrolling-nav.js"></script>
    	<script src="js/jquery.easing.min.js"></script>
   		
	</body>
</html>