<div class="row">
    <div class="col-md-4">
        
       	<br>
       	
       	<p align="center"> 
            <img class="img-circle img-responsive img-center" src="images/aboutme.png" width="200" height="200" alt="" ></img> 
        </p>
       	
       	<br>
       	
       	<h2 align="center">
            <font color="#6B6B6B">
                <strong>
                    Little About Me
                </strong>
            </font>
        </h2>
    		
    	<p align="center">
            <font color="#768586"> 
                Hi there.. My name is christian Michael. I was born on the 15th
				of may 1994, Nigeria. Currently a student of Carleton University,
				studying Computer Science, Software Engineering. To be
				a little more precise, I lived in Nigeria
				for about mmmm... 17 years before I came to canada to 
				further my education. What inspires me? Anything specific? You will 
                find out more on that soon! For more info about me, <a href="/about"> <strong>View more details...</strong> </a>
            </font>
        </p>
            	
        <br>
        	
        <p align="center">
            <a class="btn btn-primary" href="/about" role="button">
                <span class='glyphicon glyphicon-align-left'></span>

                &nbsp&nbspView more details
                &raquo;
            </a>
        </p>       	
	</div>
	
	
	
	<div class="col-md-4">

		<br>
       	
       	<p align="center"> 
            <img class="img-circle img-responsive img-center" src="images/whatsnew.png" width="200" height="200" alt="" ></img> 
        </p>
       	
       	<br>
       	
    	<h2 align="center">
            <font color="#6B6B6B">
                <strong>
                    What's New?
                </strong>
            </font>
        </h2>
    		
    	<p align="center">
            <font color="#768586"> 
                Yeah.... So about what's new, A lot are being put into place
				right now. Working on some project both individually and with 
				my group as well. One I am currently working on is the Map 
                which will work both offline and online to help navigation 
                in my city (Lagos) easier and also efficient.
                Also working on couple of Mobile applications. Trying to
                to make sure the WORLD is a better place. Interested in knowing
                couple of apps am working on? <a href="/about"> <strong>View more details...</strong> </a>
            </font>
        </p>
            	
        <br>
        	
        <p align="center">
            <a class="btn btn-primary" href="#" role="button">
                <span class='glyphicon glyphicon-align-center'></span>

                &nbsp&nbspView more details
                &raquo;
            </a>
        </p>
        	
        <br><br> 	
	</div>
	
	
	
	<div class="col-md-4">

		<br>

		<p align="center"> 
            <img class="img-circle img-responsive img-center" src="/images/group.png" width="200" height="200" alt="" ></img> 
        </p>
		
		<br>
		
    	<h2 align="center">
            <font color="#6B6B6B">
                <strong>
                    Me And My Group
                </strong>
            </font>
        </h2>
    		
    	<p align="center">
            <font color="#768586"> 
                This group was founded recently and was founded with the 
				intention of improving technology in Africa. We are a group of 4, 
				and we are all from diff parts Africa, seeing what technology is
				like in Africa we decided to contribute back to our society
				and help improve lives, technology and even our reputation.
				But as we all know a journey of a thousand miles begins with a single step.
    			More info on my group and what we aim to archieve? <a href="/about"> <strong>View more details...</strong> </a>
            </font>
        </p>
            	
        <br>
        	
        <p align="center">
            <a class="btn btn-primary" href="/about" role="button">
                <span class='glyphicon glyphicon-align-left'></span>

                &nbsp&nbspView more details
                &raquo;
            </a>
        </p>		
	</div>
	
	
	
	<div class="col-lg-12">

		<hr>

		<h2 align="center">
            <span class='glyphicon glyphicon-star'></span> 
        </h2>

		<hr>

		<br><br><br>

        <h2>
            <font color="#6B6B6B">
                <strong>
                    <span class='glyphicon glyphicon-education'></span>
                    &nbsp&nbsp Sneak Tip on my First Application 
                </strong>
            </font>
        </h2>
			   
        <br>

    </div>

    <div class="col-md-6">
        <p>
            <font color="#768586">
                <strong>
                    The World map Game is a really tricky game which includes: 
                </strong>
            </font>
        </p>

        <ul>
            <font color="#768586">
                <li>&#10004;&nbsp&nbsp&nbspTesting your knowledge on how much you know about countries</li>
                <li>&#10004;&nbsp&nbsp&nbspTimer which starts at about 2 mins and decreases as you get more questions right</li>
                <li>&#10004;&nbsp&nbsp&nbspRelative Hints are given to assist you as you proceed</li>
                <li>&#10004;&nbsp&nbsp&nbspChoose whatever continent you are comfortable with and let the GAME begin!</li>
                <li>&#10004;&nbsp&nbsp&nbspHave 3 lives in total but, you can get an extra one if you beat a certain high score. INTERESTING!</li>
                <li>&#10004;&nbsp&nbsp&nbspFeeling PRO in this? Select the general section and let's see how smart you are.</li>
            </font>
        </ul>

        <p>
            <font color="#768586">
                <strong>
        	       Just a final overview on this, it was a game made out of boredom and it's nothing fascinating but at the same time it's difficult and interesting if you know your locations pretty well. You can play the game based on what continent you feel comfortable with, also you have a specific time to answer respective generated questions with the first and last letter given to you as well as the length of the word for the country. So, that being said, you know what it is already by now, the CHOICE is all yours. 
                </strong>
            </font>
        </p>

    	<br><br><br><br><br><br>

    </div>
            
 	<div class="col-md-6">
    	 <img class="img-responsive" src="images/worldmap.png" alt=""></img>
   	</div>	
</div>