  <!DOCTYPE html>
  <html lang="en">

    <% include ../partials/header %>

    <body style="overflow-x;hidden;" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      <% include ../partials/navbar %>

      <br>

      <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/welcomee.jpg" style='width:100%;height:100%' alt='[]'></img>
              <div class="carousel-caption">
                <h3>
                  <font color="#B0A8A8">
                    Welcome To Michael's Mini Site
                  </font>
                </h3>

                <p1>
                  More greatness to come and for greater glory <br> Just get to know more or little about me as you glance through the site.</br>
                </p1>
              </div>
          </div>

          <div class="item">
            <img src="/images/chuboyhome.jpg" alt="Background" style='width:100%;height:100%' alt='[]'></img>
              <div class="carousel-caption">
                <h3>
                  <font color="#B0A8A8">
                    What's My Background Like? 
                  </font>
                </h3>

                <p1>
                  I am from somewhere in West Africa, <br>to find out where in particular and many more, go to my about page.</br>
                </p1>
              </div>
          </div>
      
          <div class="item">
            <img src="/images/freetime.jpg" style='width:100%;height:100%' alt='[]'></img>
            <div class="carousel-caption">
              <h3>
                <font color="#B0A8A8">
                  How do I utilize my free time
                </font>
              </h3>

              <p1>
                I am quite intrigued about learning new things which<br>drives me to use what I have learnt to make something a bit reasonable haha.. <br> to find out more click on more info and click on my projects to see for yourself. 
              </p1>
            </div>
          </div>
        </div>

      	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>
  	 </header>

      <div class="container" id="boy">
        <br><br>
        <hr>

        <h2 align="center">
          <span class='glyphicon glyphicon-star'></span> 
        </h2>

  	     <hr>
  	     <br><br>

  	     <% include content %>
  	  </div>

      <br><br>
  	
      <% include ../partials/footer %>

      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/scrolling-nav.js"></script>
      <script src="js/jquery.easing.min.js"></script>
      <script src="js/carouselSpeedControl.js"></script>
      
  </body>
  </html>
