<!DOCTYPE html>
<html lang="en">

	<% include ../partials/header %>

	<body>

		<% include ../partials/navbar %>
		
		<br><br><br>

		<div class="container">

        	<div class="row">
                <div class="col-lg-12">
            		<br></br>
                    <br></br>

                	<h1>
                        <span class='glyphicon glyphicon-hand-right'>
                        </span>

                        &nbsp&nbsp

                        <strong>
                            <%= title %>
                        </strong>
                    </h1>

					<hr>

                	<ol class="breadcrumb">

                    	<li>
                            <a href="/">
                                <span class="glyphicon glyphicon-home glyphicon-white">
                                </span>

                                <font color="#828F90">
                                    <strong>
                                        &nbsp Home
                                    </strong>
                                </font>
                            </a>
                    	</li>

                    	<li class="active">
                            About
                        </li> 
                	</ol>

            	</div>
        	</div>

        	<br><br><br>

        	<div class="alert alert-info" role="alert">
				<strong>
					Projects currently in progress
				</strong>
			</div>


			<div class="row">
                <div class="col-md-6">
                	<img class="img-thumbnail" src="http://placehold.it/750x450" alt=""></img>
            	</div>
            	
            	<div class="col-md-6">
                	<h2>
                        <strong>
                            Tide Warrior
                        </strong>
                    </h2>

                	<font color="#768586">
                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
                        </p>
            		</font>
            	</div>
        	</div>


        	<br><br>
        	<hr>

        	<h2 align="center">
                <span class='glyphicon glyphicon-star'></span> 
            </h2>

        	<hr>
        	<br><br>


        	<div class="row">
                <div class="col-md-6">
                	<img class="img-thumbnail" src="http://placehold.it/750x450" alt=""></img>
            	</div>
            	
            	<div class="col-md-6">
                	<h2>
                        <strong>
                            Moveir
                        </strong>
                    </h2>

                	<font color="#768586">
                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
                        </p>
            		</font>
            	</div>
        	</div>


        	<br><br><br><br><br>

        	<hr>
        	<div class="alert alert-info" role="alert">
				<strong>
					Projects completed at the moment
				</strong>
			</div>
			<hr>

			<br><br><br><br><br>


			<div class="row">
                <div class="col-md-6">
                	<img class="img-thumbnail" src="http://placehold.it/750x450" alt=""></img>
            	</div>
            	
            	<div class="col-md-6">
                	<h2>
                        <strong>
                            World Map Brain Teaser
                        </strong>
                    </h2>

                	<font color="#768586">
                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
                        </p>
            		</font>
            	</div>
        	</div>


        	<br><br>
        	<hr>

        	<h2 align="center">
                <span class='glyphicon glyphicon-star'></span> 
            </h2>

        	<hr>
        	<br><br>


        	<div class="row">
                <div class="col-md-6">
                	<img class="img-thumbnail" src="images/welcomeme.jpg" alt=""></img>
            	</div>
            	
            	<div class="col-md-6">
                	<h2>
                        <strong>
                            My website {<a href="www.christianmichael.me">christianmichael.me</a>}
                        </strong>
                    </h2>

                	<font color="#768586">
                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
                        </p>
            		</font>
            	</div>
        	</div>


        	<br><br>
        	<hr>

        	<h2 align="center">
                <span class='glyphicon glyphicon-star'></span> 
            </h2>

        	<hr>
        	<br><br>


        	<div class="row">
                <div class="col-md-6">
                	<img class="img-thumbnail" src="http://placehold.it/750x450" alt=""></img>
            	</div>
            	
            	<div class="col-md-6">
                	<h2>
                        <strong>
                            File Transfer Protocol System {FTP}
                        </strong>
                    </h2>

                	<font color="#768586">
                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
                        </p>
            		</font>
            	</div>
        	</div>


        	<br><br>
        	<hr>

        	<h2 align="center">
                <span class='glyphicon glyphicon-star'></span> 
            </h2>

        	<hr>
        	<br><br>


        	<div class="row">
                <div class="col-md-6">
                	<img class="img-thumbnail" src="http://placehold.it/750x450" alt=""></img>
            	</div>
            	
            	<div class="col-md-6">
                	<h2>
                        <strong>
                            Distributed Meeting Scheduler {DMS}
                        </strong>
                    </h2>

                	<font color="#768586">
                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
                        </p>

                	    <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
                        </p>
            		</font>
            	</div>
        	</div>

        </div>

        <br><br><br><br><br><br>

		<% include ../partials/footer %>

		<script src="js/resumeImageControl.js"></script>
		<script src="js/scrolling-nav.js"></script>
    	<script src="js/jquery.easing.min.js"></script>
    	
	</body>

</html>