    <!DOCTYPE html>
    <html lang="en">

    	<% include ../partials/header %>

    	<body>

    		<% include ../partials/navbar %>
    		
    		<br><br><br>

    		<div class="container">

            	<div class="row">
                    <div class="col-lg-12">
                		<br></br>
                        <br></br>

                    	<h1>
                            <span class='glyphicon glyphicon-hand-right'>
                            </span>

                            &nbsp&nbsp

                            <strong>
                                <%= title %>
                            </strong>
                        </h1>

    					<hr>

                    	<ol class="breadcrumb">

                        	<li>
                                <a href="/">
                                    <span class="glyphicon glyphicon-home glyphicon-white">
                                    </span>

                                    <font color="#828F90">
                                        <strong>
                                            &nbsp Home
                                        </strong>
                                    </font>
                                </a>
                        	</li>

                        	<li class="active">
                                About
                            </li> 
                    	</ol>

                	</div>
            	</div>

            	<br><br><br>

            	<div class="alert alert-info" role="alert">
    				<strong>
    					Projects currently in progress
    				</strong>
    			</div>


    			<div class="row">
                    <div class="col-md-6">
                    	<img class="img-thumbnail" src="images/nav.jpg" alt=""></img>
                	</div>
                	
                	<div class="col-md-6">
                    	<h2>
                            <strong>
                                Lagos Easy Nav
                            </strong>
                        </h2>

                    	<font color="#768586">
                    	    <p>
                                I am not really going to go into details on this because, it is still under development. But, I am goin to give a hint as to what I am trying to achieve here. So basically, back in my city <strong>(Lagos)</strong>, moving from one place to another can be extremely difficult and also the fact that looking for restaurants, or addresses can sometimes be a pain.
                            </p>

                    	    <p>
                                 But I came up with an idea of making naigation around <strong>Lagos City</strong> pretty easy by making an app that could work either offline or online, to enable users navigate from one place to another with ease. I took into consideration the fact that not everyone in the city will have data, and this is due to the poor internet service or price for data, this is why I decided to make it offline as well.
                            </p>

                    	    <p>
                                It's a pretty big project and I am working on it with my team. I will keep everyone posted through my site on how things are going from time to time about the project and to know more if you are not satisfied with what I have detailed here, shoot me an e-mail and we can talk more about it.
                            </p>
                		</font>
                	</div>
            	</div>


            	<br><br>
            	<hr>

            	<h2 align="center">
                    <span class='glyphicon glyphicon-star'></span> 
                </h2>

            	<hr>
            	<br><br>


            	<div class="row">
                    <div class="col-md-6">
                    	<img class="img-thumbnail" src="images/moveir.jpg" alt=""></img>
                	</div>
                	
                	<div class="col-md-6">
                    	<h2>
                            <strong>
                                Moveir
                            </strong>
                        </h2>

                    	<font color="#768586">
                    	    <p>
                                This is under development now and involves a lot of things which are properly being considered by I and my team. Moving from one place to another could be more easier especially for students or buying something and wanting to bring it over to your house can be a pain when no taxi is willing to carry it.
                            </p>

                    	    <p>
                                This will make things easier, cheaper and convenient for anyone who is interested in moving especially micro moves. 
                            </p>

                    	    <p>
                                Stay tuned as I will be bringing more advertisement on this soon. Hopefully expected to be released summer 2016.
                            </p>
                		</font>
                	</div>
            	</div>


            	<br><br><br><br><br>

            	<hr>
            	<div class="alert alert-info" role="alert">
    				<strong>
    					Projects completed at the moment
    				</strong>
    			</div>
    			<hr>

    			<br><br><br><br><br>


    			<div class="row">
                    <div class="col-md-6">
                    	<img class="img-thumbnail" src="images/worldmapbrainteaser.jpg" alt=""></img>
                	</div>
                	
                	<div class="col-md-6">
                    	<h2>
                            <strong>
                                World Map Brain Teaser
                            </strong>
                        </h2>

                    	<font color="#768586">
                    	    <p>
                                This is an android educational game which I made when I was bored. How did I come up with this idea? It all started when I was online and a question just popped up somehwere online asking for the capital of a country and I realized that I couldn't figure what cuntry it was and funny enough, it was in Africa.
                            </p>

                    	    <p>
                                So this, brought about the invention of this little app. Although it can get difficult but I made it in such a way that you pick whichever continent you feel comfortable with and it genrates random questions for you, as you guess correctly, it decreases you time making it extremely difficult when a hard queston pops up. Also you are given hints which should help out when you are stuck anytime.
                            </p>

                    	    <p>
                                Of course there are rewards, but you will have to work hard for it. Feel free to give it a try by either visiting google play store, download it and give it a try or click on this link for a quick access <a href="https://play.google.com/store/apps/details?id=com.worldmapgame&hl=en" target= "_blank"><strong>World Map Brain Teaser</strong></a>
                            </p>
                		</font>
                	</div>
            	</div>


            	<br><br>
            	<hr>

            	<h2 align="center">
                    <span class='glyphicon glyphicon-star'></span> 
                </h2>

            	<hr>
            	<br><br>


            	<div class="row">
                    <div class="col-md-6">
                    	<img class="img-thumbnail" src="images/welcomee.jpg" alt=""></img>
                	</div>
                	
                	<div class="col-md-6">
                    	<h2>
                            <strong>
                                My website {<a href="www.christianmichael.me">christianmichael.me</a>}
                            </strong>
                        </h2>

                    	<font color="#768586">
                    	    <p>
                                Everyone seems to be having a website this days and to me it's just simply cool. The fact that you can tell someone to visit your website to find out more about you is amazing. 
                            </p>

                    	    <p>
                               I got bored and decided to make a website. I went online and <strong>Node js </strong> seemed to draw my attention when researching on tools I could use, then I decided to look into it and I really got to like it and decided to use it in the construction of my website.
                            </p>

                    	    <p>
                                Also I used to bootstrap to format it to look this nice, just incase anyone was wondering why it looked so nice. But anyone who does a lot of web stuff would probably tell that I used <strong>bootstrap</strong> on this. To view this project on <span> <i class="fa fa-github"></i> <strong>github</strong></span> click on this link <a href="https://github.com/chukzzy/ChristianMichael-sWebsite" target= "_blank"><strong>Christian Michael's Website</strong></a> 
                            </p>
                		</font>
                	</div>
            	</div>


            	<br><br>
            	<hr>

            	<h2 align="center">
                    <span class='glyphicon glyphicon-star'></span> 
                </h2>

            	<hr>
            	<br><br>


            	<div class="row">
                    <div class="col-md-6">
                    	<img class="img-thumbnail" src="images/filetransfer.jpg" alt=""></img>
                	</div>
                	
                	<div class="col-md-6">
                    	<h2>
                            <strong>
                                File Transfer Protocol System {<a href="https://github.com/chukzzy/File-Transfer-Protocol-System" target="_blank">FTP</a>}
                            </strong>
                        </h2>

                    	<font color="#768586">
                    	    <p>
                                This uses the concept of Sever - Client model. This was made in C using TCP/IP, it sends any type of file over the network. Movies, pictures, documents, applications too, etc. 
                            </p>

                    	    <p>
                                The concept behind the invention of this, was to understand in depth the concept of TCP/IP. There are couple of logics involved in this, such as taking into consideration the size of the file you want to send over, before sending then start sending them over the network in chunks until there are no more left to send and many more..
                            </p>

                    	    <p>
                                To view this project on <span> <i class="fa fa-github"></i> <strong>github</strong></span> for better understanding or look through the source code click on this link <a href="https://github.com/chukzzy/File-Transfer-Protocol-System" target= "_blank"><strong>FTP System</strong></a> 
                            </p>
                		</font>
                	</div>
            	</div>


            	<br><br>
            	<hr>

            	<h2 align="center">
                    <span class='glyphicon glyphicon-star'></span> 
                </h2>

            	<hr>
            	<br><br>


            	<div class="row">
                    <div class="col-md-6">
                    	<img class="img-thumbnail" src="images/peertopeer.jpg" alt=""></img>
                	</div>
                	
                	<div class="col-md-6">
                    	<h2>
                            <strong>
                                Distributed Meeting Scheduler {<a href="https://github.com/chukzzy/DistributedMeetingSchedular" target="_blank">DMS</a>}
                            </strong>
                        </h2>

                    	<font color="#768586">
                    	    <p>
                                This uses a <strong>peer-to-peer</strong> networking concept to schedule a meeting between a host and as many invitees as possible.
                            </p>

                    	    <p>
                                The cool thing here is that, anyone can be a host or invitee at the same time, but all on a seperate thread. Of course without threads, this wouldn't have been possible. What do I mean when I say anyone can be a host and an invitee? What I mean is that, if for instance I am trying to schedule a meeting with an invitee(a random person/ someone I know), someone else can as well try schedule a meeting with me while am doing my own stuff on another thread. How do it do this, it checks the calendar local to each users system, to find free time prior to teh time suggested by the host. If it finds a free time for all invitees it get the intersection, groups it together by <strong>serializing</strong> it so it can be sent back over the network and returns that information to the host. Finally the host checks it's calendar to make sure the time he suggested for the meeting has not been booked since we can do stuffs on <strong>multiple threads</strong>, if it's free it picks a random time from the list of available free times it got back and schedules the meeting sending an award to each invitee and if the time as well has not been booked on each invitees calendar it marks that time automatically on their calendar. Else if there is no free time available at that moment, it will keep trying until it exhausts all free possible times that was returned. The one really cool thing about this again is that it does all this on it's own. No one needs to do anyhting, like checking calendars and telling us when you are free, NO!, it's smart enough to do it's job.
                            </p>

                    	    <p>
                                To find out more about this and view the siurce code, go to <span> <i class="fa fa-github"></i> <strong>github</strong></span> by clicking this link <a href="https://github.com/chukzzy/DistributedMeetingSchedular" target= "_blank"><strong>Distributed Meeting Scheduler</strong></a> 
                            </p>
                		</font>
                	</div>
            	</div>

            </div>

            <br><br><br><br><br><br>

    		<% include ../partials/footer %>

    		<script src="js/resumeImageControl.js"></script>
    		<script src="js/scrolling-nav.js"></script>
        	<script src="js/jquery.easing.min.js"></script>
        	
    	</body>

    </html>