<!DOCTYPE html>
<html lang="en">

	<% include ../partials/header %>
	
	<body>
		<% include ../partials/navbar %>
		
		<br><br><br><br>
		
		<div class="container">
        	<div class="row">
            	<div class="col-lg-12">
            		<br><br>
                	<h1>
                		<span class='glyphicon glyphicon-duplicate'></span>

                		&nbsp&nbsp

                		<strong>
                			<%= title %> 
                		</strong>
                	</h1>

					<hr>

                	<ol class="breadcrumb">
                    	<li>
                    		<a href="/">
                    			<span class="glyphicon glyphicon-home glyphicon-white"></span>
                    			<font color="#828F90">
                    				<strong>
                    					&nbspHome
                    				</strong>
                    			</font>
                    		</a>
                    	</li>

                    	<li class="active">resume</li>

                	</ol>
            	</div>
        	</div>
        	
        	<div class="row">
        		<br></br>
            	<div class="col-md-12 text-center">
            		<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Christian Michael's Resume" data-caption="To View Christian Michael's complete resume, go donwload it and view it in a new tab or visit his website for updated version. You can find his website details on the about page. Thank You!" data-image="https://placehold.it/350x150" data-target="#image-gallery">

                		<img class="img-responsive" src="images/resume.jpg" alt="Short alt text"></img>
            		
            			<br></br>
            		
            			<p> 
            				Preview Christian Michael's Resume { My Resume } 
            			</p>
            			
            		</a>
            		
            		<hr>
            		
            		<a href='#' target="_blank"><span class='glyphicon glyphicon-download'></span> <font color="A6A6A6"><br>Download Resume</br></font></a>
   	
        		</div>
        		
        		
	            <!-- <div class="col-md-3 text-center" thumb">
	            	<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Ibrahim Sikiru's Resume" data-caption="To View Ibrahim Sikiru's complete resume, go donwload it and view it in a new tab or visit his website for updated version. You can find his website details on the about page. Thank You!" data-image="http://www.picturesnew.com/media/images/car-image.jpg" data-target="#image-gallery">
	                	<img class="img-responsive" src="images/resume.jpg" alt="A alt text">
	           		
	           			<br></br>
            		
            			<p> Ibrahim Sikiru's Resume </p>
	           		
	           		</a>
	           		
            		<hr>
            		
            		<a href='./settings'><span class='glyphicon glyphicon-download'></span> <font color="A6A6A6"><br>Download Resume</br></font></a>
            		
	        	</div> -->
	        	
	        	
	            <!-- <div class="col-md-3 text-center" thumb">
	            	<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Henry Amuka's Resume" data-caption="To View Henry Amuka's complete resume, go donwload it and view it in a new tab or visit his website for updated version. You can find his website details on the about page. Thank You!" data-image="http://www.picturesnew.com/media/images/car-image.jpg" data-target="#image-gallery">
	                	<img class="img-responsive" src="images/resume.jpg" alt="Another alt text">
	            	
	            		<br></br>
            		
            			<p> Henry Amuka's Resume </p>
	            	
	            	</a>
	            	
            		<hr>
            		
            		<a href='./settings'><span class='glyphicon glyphicon-download'></span> <font color="A6A6A6"><br>Download Resume</br></font></a>
            		
	        	</div> -->
	        	
	        	
	        	<!-- <div class="col-md-3 text-center" thumb">
	            	<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Guelor Emmanuel's Resume" data-caption="To View Guelor Emmanuel's complete resume, go donwload it and view it in a new tab or visit his website for updated version. You can find his website details on the about page. Thank You!" data-image="images/GuelorEmanuelRes.jpg" data-target="#image-gallery">
	                	<img class="img-responsive" src="images/resume.jpg" alt="Another alt text">
	            	
	            		<br></br>
            		
            			<p> Guelor Emmanuel's Resume </p>
	            	
	            	</a>
	            	
            		<hr>
            		
            		<a href='GuelorEmanuelRes.pdf' target='_blank'><span class='glyphicon glyphicon-download'></span> <font color="A6A6A6"><br>Download Resume</br></font></a>
	            	
	        	</div> -->
	        	
			</div>
			
			<br><br>
			<hr>

			<h2 align="center">
				<span class='glyphicon glyphicon-star'></span> 
			</h2>

			<hr>
			<br><br>
			
			<h2>
				<span class='glyphicon glyphicon-hand-down'></span>  
				Something to know real quick
			</h2>

			<br>
			
			<div class="alert alert-info" role="alert">
				<strong>
					NOTE: 
				</strong>

				&nbspDue to the fact I will like to protect my privacy, I will remove call contact details except the e-mail which I feel is enough.
			</div>
			
		</div>
			
		<br><br><br><br>

		<% include ../partials/footer %>


		<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    		<div class="modal-dialog">
        		<div class="modal-content">
            		<div class="modal-header">
                		<button type="button" class="close" data-dismiss="modal">
                			<span aria-hidden="true">×</span>
                			<span class="sr-only">Close</span>
                		</button>

               	 		<h4 class="modal-title" id="image-gallery-title"></h4>

            		</div>
            			
            		<div class="modal-body">
                		<img id="image-gallery-image" class="img-responsive" src="">
            		</div>
            		
            		<div class="modal-footer">
                		<div class="col-md-2">
                    		<button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                		</div>

                		<div class="col-md-8 text-justify" id="image-gallery-caption">
                    		This text will be overwritten by jQuery
                		</div>

                		<div class="col-md-2">
                    		<button type="button" id="show-next-image" class="btn btn-default">Next</button>
                		</div>
            		</div>
        		</div>
    		</div>
    	</div>
    		
    		
    	<script src="js/resumeImageControl.js"></script>
		<script src="js/scrolling-nav.js"></script>
    	<script src="js/jquery.easing.min.js"></script>
			
		
	</body>
</html>