 <footer align="center">
 	<div id="footer">
    	<ul class="list-inline social-buttons">
    		<br></br>
            <li><a href="https://www.facebook.com/chuboy.michael"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="https://ca.linkedin.com/pub/christian-michael/b3/ba0/702"><i class="fa fa-linkedin fa-2x"></i></a></li>
            <li><a href="https://github.com/chukzzy"><i class="fa fa-github fa-2x"></i></a></li>
         </ul>
        <p1>Courtesy of Christian Michael 2015</p1>
	</div>
</footer>